/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.certificate_search_container{
    width: 100%;
}
.certificate_search_row{
    display: flex;
    align-items: center;
    margin: 10px;
    height: 60px;
}
.certificate_search_content_text{
    width: 120px;
    text-align: right;
    margin: 0px 20px;
}
.certificate_search_row input{
    background-color: rgb(255, 255, 255);
    width: 320px;
    font-size: 18px;
    font-family: 微软雅黑, MicrosoftYahei, 黑体, 宋体, "Arial Narrow", sans-serif;
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(195, 195, 195);
    border-image: initial;
    padding: 5px;
}
.certificate_search_row_btn div{
    display: inline-block;
}
.certificate_search_row_btn_search{
    width: 300px;
    margin-top: 10px;
    text-align: right;
    margin-right: 20px;
}
.certificate_search_row_btn button{
    line-height: 36px;
    text-align: center;
    background-color: rgb(28, 97, 168);
    width: 130px;
    height: 36px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-width: medium;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px;
    margin: 0px 0px 10px;
}

/*Table CSS*/

.customers {
    border-collapse: collapse;
    width: 100%;
}

.customers td {
    border: 1px solid #ddd;
    padding: 8px;
    cursor: pointer;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

/*Loader */

.loader {
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid black;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading_screen_container {
    z-index: 99999;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    display: none;
}
.loading_screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.more_subscription{
    cursor: pointer;
    line-height: 36px;
    text-align: center;
    background-color: rgb(28, 97, 168);
    width: 100%;
    font-size: 16px;
    color: rgb(255, 255, 255);

}
.certificate_content{
    display: flex;
    align-items: center;
}

.certificate_content img{
    margin-left: 20px;
}

.certificate_field_img, .serial_field_img{
    display: none;
    width: 300px;
}

@media only screen and (max-width: 600px) and (min-width: 320px) {
    .certificate_field_img, .serial_field_img{
        display: none !important;
    }
    .certificate_content{
        width: 100%;
    }
    .certificate_content input{
        width: 100%;
    }
    .certificate_search_row{
        flex-wrap: wrap;
        height: 100%;
    }
    .certificate_search_content_text{
        width: 100%;
        text-align: left;
        margin: 20px 0px;
    }
    .certificate_search_row_btn{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 20px 10px 0 10px;
    }
    .certificate_search_row_btn_search{
        width: inherit;
        margin-top: 0;
    }
    .certificate_search_row_btn button{
        width: 119px;
    }
}
@media only screen and (max-width: 768px) and (min-width: 600px) {
    .certificate_field_img, .serial_field_img{
        display: none !important;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .certificate_field_img, .serial_field_img{
        width: 200px;
    }
}